.deck
  font-family 'Saira', sans-serif
  font-size 3.25rem

a
  color $text

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1
  margin 0
  &:not(.fit)
    letter-spacing -0.015em

p
  margin .5em 0 0 0

ul
  margin .5em 0 0 0
  padding 0
  list-style none
  ul
    margin-top 0
    margin-left 1em

img, video
  max-width 100%

blockquote
  margin 0

pre, code
  font-family 'Overpass Mono', monospace
  letter-spacing -0.015em

table.spread
  width 100%

td, th
  padding 0.5em

em
  font-style normal
  color $c-prm

.line
  display block
  white-space nowrap
  .fit &
    width fit-content

.has-text-centered
  text-align center

.bespoke-overview .bespoke-active
  outline 5px solid #f61c3b
  outline-offset -5px

.halign-right
  text-align right
