.deck
  font-family 'Saira', sans-serif
  font-size 3.25rem

a
  color $text

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1
  margin 0
  &:not(.fit)
    letter-spacing -0.015em

ul
  margin 1em 0 0 0
  padding 0
  list-style none

figure
  margin 0
  &.grow
    width 100%

pre, code
  font-family 'Overpass Mono', monospace
  letter-spacing -0.015em

.line
  display block
  white-space nowrap
  .fit &
    width fit-content

.has-text-centered
  text-align center
