blockquote.twitter-tweet
  visibility hidden

twitterwidget.twitter-tweet
  transform scale(3.5) !important
  pointer-events none
  &::shadow
    .EmbeddedTweet
      background-color transparent
      //border-radius 0.75rem !important
      border none
    .Tweet-brand, .tweet-InformationCircle, img.Emoji
      display none
