.bespoke-slide
  &.title
    padding 0 4rem
    background-color $c-black-bis
    &::before, &::after
      font-family "FontAwesome"
      color $c-gray-darker
      position absolute
      line-height 1
      z-index -1
    //&::before
    //  content "\f0f6"
    //  font-size 18rem
    //  top 0
    //  right 2.5rem
    &::after
      content "\f085"
      font-size 30rem
      bottom -4rem
      right -6rem
    h1
      color $text-invert
      font-size 5.5rem
      font-weight 600
      line-height 1.6
      text-align center
      margin-top -1rem
    footer
      position absolute
      bottom 0
      left 0
      font-size 2rem
      color $c-gray-light
      line-height 1
      padding 1.25rem 2rem
    p
      margin 0
      > span + span::before
        content "\2237"
        font-size 0.8em
        padding 0 1rem

  &.quote
    justify-content flex-end
    background-color $c-black-bis
    &.image
      &::after
        content ""
        background rgba($c-black-ter, 0.75)
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        z-index -1
      &.docs-like-code::after
        background rgba($c-black-ter, 0.9)
      figure.quote
        font-weight 500
    &.dev-resistance
      background-position 0% 15%
    figure.quote
      width 100%
      color $text-invert
      padding 0 5rem
      font-size 4rem
      line-height 1.5
      margin-bottom sh(8)
      p
        margin 0
      figcaption
        color $c-gray-lightest
        font-size 2rem
        font-weight 400
        line-height 1
        margin-top 1.5rem
        &::before
          content "—"
          padding-right 0.5ex

  &.concept
    //background-color $c-gray-lightest
    h2
      font-size 10rem
      margin 0
    p
      font-size 15rem
      margin 0

  &.statement
    background-color $c-black-bis
    align-items flex-start
    justify-content flex-end
    h2
      //margin 0 0 sw(5) sw(5)
      margin 0 0 sw(2.5) sw(5)
      border-left 1rem solid #fff
      padding-left 0.75rem
      line-height 1
      //font-size 6rem
      //font-size 5.25rem
      font-size 5rem
      text-transform uppercase
    .line
      max-width fit-content
      padding 0 0.75rem 0 0.25rem
      background-color #fff
      color $c-black-bis
      & + .line
        margin-top 0.75rem

  &.shout
    text-transform uppercase
    h2
      color $c-gray-light
      width sw(50)
      line-height 0.8
    .line.prominence-1
      color $c-prm

  &.works-on-my-machine
    .line.prominence-1
      color $c-gray-lightest
      margin-bottom 5rem
    .line.prominence-2
      color $c-prm

  &.tweet
    background-color $c-black-bis

  &.practices
    ul
      display flex
      flex-wrap wrap
      flex-direction column
      padding 0
      margin 0
      width 100%
      height 100%
    li
      font-size 3rem
      text-transform uppercase
      display flex
      width 50%
      height 25%
      align-items center
      justify-content center
      line-height 1.15
      font-weight 600
      text-align center
      overflow hidden
      letter-spacing -0.025em
      padding 0 2em
      color $c-white
      background-color $c-prm
      &:nth-child(2n), &:nth-child(2n + 5)
        background-color $c-bis
      &:nth-child(2n + 6)
        background-color $c-prm

  &.ci-build-script
    background-color $c-black
    align-items flex-start
    justify-content flex-end
    p
      color $c-prm
      text-transform uppercase
      margin 0 0 sw(5) sw(10)
      font-size 3.5rem
      line-height 1.15
      font-weight 500
      strong
        color $c-white
        font-weight 500
        letter-spacing 0.24em

  &.code
    background $c-black-bis
    flex-direction row
    pre
      flex-grow 1
      font-size 2.25rem
      //background #f7f7f7
      background linear-gradient(to bottom, #fff 0%, #f7f7f7 100%)
      width 100%
      padding 1.25em 1em
      margin 0 1em
      border 0.3333em solid #0c0c0c
      border-radius 1em
      box-shadow 0px 2px 0.5em #0c0c0c
      overflow hidden
    &.dense
      pre
        font-size 1.75rem
    figcaption
      color #f7f7f7
      font-size 1.75rem
      text-align center
      font-weight 300
    figure.listing
      flex-grow 1
      margin 0 2.25rem
      pre
        margin 0

  &.cannot-preview-site
    perspective 1000px
    justify-content flex-start
    h2
      color #30241d
      text-align left
      font-weight 400
      width 10.5rem
      border 3px inset #a59a88
      padding .1em
      transform rotateY(-8deg)
      font-size 4rem
      position relative
      top 2.5rem
      line-height 1.25

  &.broken-windows
    h2
      text-align center
      font-size 6rem
      padding 0.25em
      color $c-white
      background-color hsla(200, 96%, 34%, 0.75)

  &.collaboration-is-unruly
    perspective 450px
    h2
      text-align center
      font-size 6rem
      transform translateZ(-200px) rotateY(-60deg) rotateX(-2deg) rotateZ(6deg)

  &.versions-are-hard
    justify-content flex-start
    h2
      text-align center
      font-size 6rem
      color $c-white
      text-shadow 5px 7px 2px $c-black-bis
      position relative
      //left 3vw
      left 2.5rem
      top sh(15)

  &.too-much-to-manage
    align-items flex-end
    justify-content flex-start
    h2
      text-align right
      font-size 9.75rem
      color $c-white
      font-weight 300
      margin 2rem 3.5rem 0 0
      text-shadow -5px 1px 5px $c-black-bis

  &.publishing-is-strenuous
    align-items flex-end
    justify-content flex-end
    h2
      text-align right
      font-size 6.5rem
      font-weight 700
      color hsl(215, 10%, 98%)
      transform rotate(-53deg)
      margin 0 1rem 16.75rem 0
      text-shadow -1px 1px 0px hsl(215, 10%, 75%), -2px 1px 0px hsl(215, 10%, 74%), -3px 1px 0px hsl(215, 10%, 69%), -4px 1px 0px hsl(215, 10%, 69%), -5px 1px 0px hsl(215, 10%, 63%)

  &.monolithic-content
    justify-content flex-end
    perspective 400px
    h2
      font-size 5rem
      text-align center
      //color $text-invert
      color #fafafa
      margin-bottom 1.5rem
      transform rotateX(104deg) scaleY(2)
      text-shadow 0 2px 10px #4E342E

  &.broken-windows-takeaway
    figure
      position absolute
      top 10rem
      right 14rem
      width sw(25)

  &.topic
    color $c-white
    background-color $c-prm
 
  &.subtopic
    color $c-white
    background-color $c-qua

  &.topic, &.subtopic
    h2
      font-size 5rem
      text-transform uppercase
      text-align center
      line-height 1.25
      padding 0 sw(5)

  &.teach-them-git
    h2
      position absolute
      left sw(5)
      bottom sw(5)
      //background #a1302e
      //background $c-bis
      background-color #0286c2
      color #fff
      border-radius 0.5em
      padding .25em .5em
      font-weight 600
      box-shadow 10px 10px 0px rgb(230, 231, 231)
      font-size 3.5rem
    figure
      align-self flex-end
      width 50%
      margin-right sw(5)
    img
      max-width 100%

  &.subject.textlint
    background-color $c-gray-lightest

  &.software-monorepo
    figure.image
      display flex
      align-items center
      justify-content center
      width 90%
      border 0px solid #e0e0e0
      padding 2rem 0
      border-width 0 0 2px 0
    img
      max-width 100%

  &.msg-in-inbox
    table
      background #efefef
      border 1px solid #ddd
      font-size 2rem
    p.tableblock
      margin 0
      line-height 1

  &.smarter-not-harder
    h2
      font-size 10rem
      line-height 0.85
    .line:first-of-type
      color $c-ter
    .small
      color $c-gray-light
      font-size 0.75em
      font-weight 400
      float left
      padding-top 0.125em
      padding-right 0.1325em

  &.docs-generation
    font-size 3rem
    padding 1em
    display block
    color $text-invert
    text-shadow 0 3px 0 black
    h2 .fa
      font-size 0.8em
      width 1em
    ul
      font-weight 600
    &::after
      content ""
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.15) 100%)
      z-index -1

  &.credits
    h2
      font-size 4rem
      line-height 1.25
    ul
      font-size 1.5rem
